* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.header{
    background-color: rgba(76, 76, 76, 0.877);
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
.container {
    border-radius: 15px;
    background-color: rgba(76, 76, 76, 0.877);
    box-shadow: 3px 5px;
    width: fit-content;
    height: fit-content;
    display: grid;
    place-items: center;
    margin: 10% auto 0;
    padding: 15px;
}
.container h1{
    font-weight: 900;
    margin-bottom: 35px;
    color: white;
}
.container .nav {
    padding: 15px;
}
button {
    float: left;
    border-radius: 15px;
    margin: 0 20px;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background-color: rgba(76, 76, 76, 0.877);
    float: left;
    border-radius: 15px;
    margin: 0 20px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.content {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
canvas {
    max-width: 100%;
    height: auto;
}
.description {
    padding: 15px;
    margin: 15px auto;
    width: 500px;
}
.container p {
    font-weight: 500;
    color: white;
    width: 350px;
    margin-bottom: 50px;
}